.cursor {
  position: fixed;
  left: -105px;
  top: -105px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: var(--color-white);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}
